header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2196f3;
    padding: 20px 20px;
    font-family:'SourceSansPro';
  }
  nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
  h1{
    font-family: serif;
  }
  .coluna{ 
    float: left;
    width: 25%;
  }

  @media screen and (max-width:500px){
    .column{
      width: 100%;
    }
  }

  